*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: Regular;
  src: url(fonts/Space_Mono/SpaceMono-Regular.ttf);
}

@font-face {
  font-family: Bold;
  src: url(fonts/Space_Mono/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Rubik-Medium;
  src: url(fonts/Rubik-Medium.ttf);
}

/* ANIMATIONS */
@-webkit-keyframes width-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes width-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes bar-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

@keyframes bar-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

/* GENERAL */
html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  position: relative;
}

/* HEADER */
header {
  width: 100%;
  height: 80px;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .social {
  margin-left: 2rem;
}

header .social span {
  display: inline-block;
  width: 40px;
  height: 40px;
}

header .social span a {
  display: block;
  width: inherit;
  height: inherit;
}

header .social .github {
  background: url(Icons/github_icon.svg) center center no-repeat;
}

header .social .github:hover {
  cursor: pointer;
  background: url(Icons/github_icon_pink.svg) center center no-repeat;
}

header .social .linkedin {
  background: url(Icons/linkedin_icon.svg) center center no-repeat;
}

header .social .linkedin:hover {
  cursor: pointer;
  background: url(Icons/linkedin_icon_pink.svg) center center no-repeat;
}

header .hamburger-nav, header .close {
  display: none;
}

header nav {
  width: 45%;
  margin-right: 2rem;
}

header nav ul {
  width: 100%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav ul li {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: inherit;
}

header nav ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #343A40;
  font-family: Regular;
  font-size: initial;
  font-weight: unset;
  letter-spacing: unset;
  height: inherit;
  cursor: pointer;
  position: relative;
}

header nav ul a::after {
  content: '';
  position: absolute;
  top: unset;
  bottom: 0;
  right: 0;
  left: unset;
  height: 1px;
  width: 0;
  background-color: #FF7171;
  -webkit-transition: width .7s;
  transition: width .7s;
}

header nav ul a:hover::after {
  width: 75%;
}

header nav ul span {
  display: inline-block;
  width: 20px;
  height: 12px;
  margin-right: 0.4rem;
  background: url(Icons/icon_2_pink.svg) center center no-repeat;
}

/* ABOUT */
.about {
  width: 100%;
  min-height: 100vh;
  background-color: #f8c5c4;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .profile_photo {
  width: 490px;
  height: 490px;
  background-color: #e4e4e4;
  border-radius: 50%;
  overflow: hidden;
  margin: 5rem 0 0 0;
}

.about .profile_photo img {
  display: block;
  width: inherit;
  height: auto;
  max-width: 400px;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.about .about_text {
  width: 460px;
  margin: 4rem;
}

.about .about_text p:nth-child(1) {
  color: white;
  font-family: Bold;
  font-size: 2.9rem;
  font-weight: unset;
  letter-spacing: unset;
}

.about .about_text p:nth-child(2) {
  color: #FF7171;
  font-family: Regular;
  font-size: 1.1rem;
  font-weight: unset;
  letter-spacing: 2px;
  line-height: 1.5rem;
  margin-top: 1rem;
}

/* PROJECTS */
.projects {
  width: 100%;
  position: relative;
  padding: 4rem 0 2rem 0;
  background-color: #e6e6e6;
}

.projects .projects_container {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2.2rem 2rem;
  justify-items: center;
}

.projects .description {
  width: 320px;
}

.projects [class^="project_"] {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flx-start;
      -ms-flex-pack: flx-start;
          justify-content: flx-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 40px 5px 40px 5px;
  -webkit-box-shadow: 0 10px 13px 1px #cacaca, 8px 0 13px -1px #cacaca;
          box-shadow: 0 10px 13px 1px #cacaca, 8px 0 13px -1px #cacaca;
}

.projects [class^="project_"] img {
  display: block;
  width: inherit;
  height: auto;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  max-width: 100%;
  margin: 0 auto;
}

.projects [class^="project_"] p {
  display: inline-block;
  color: unset;
  font-family: Rubik-Medium;
  font-size: 0.9rem;
  font-weight: unset;
  letter-spacing: unset;
  text-align: center;
  text-transform: unset;
  margin: 1.4rem 0 1rem 1rem;
}

.projects [class^="project_"] p:nth-of-type(1) {
  color: #fa6833;
  margin-left: 1.5rem;
}

.projects [class^="project_"] p:nth-of-type(2) {
  color: #dd76da;
}

.projects [class^="project_"] p:nth-of-type(3) {
  color: #5f5fe6;
}

.projects [class^="project_"] p:nth-of-type(4) {
  color: #54ee54;
}

.projects [class^="project_"] h4 {
  width: 75%;
  color: #a19696;
  font-family: Roboto-Light;
  font-size: 0.95rem;
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: unset;
  text-transform: uppercase;
  margin-left: 1.5rem;
  padding: 1.5rem 0;
  border-top: 1px solid #dbd9d9;
}

.projects [class^="project_"]:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects [class^="project_"]:hover::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.6;
  background-color: white;
  border-radius: inherit;
}

.projects [class^="project_"]:hover::after {
  content: '';
  position: absolute;
  top: 50%;
  bottom: unset;
  right: unset;
  left: 50%;
  color: white;
  font-family: Roboto-Thin;
  font-size: unset;
  font-weight: unset;
  letter-spacing: 3px;
  text-align: center;
  text-transform: unset;
  content: 'VIEW';
  line-height: 100px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ff7c7a;
}

/* SKILLS */
.skills {
  width: 100%;
  padding: 2rem 0;
  background-color: #e6e6e6;
}

.skills .skills_container {
  width: 90%;
  padding-bottom: 5rem;
  background-color: white;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 10px 13px 1px #cacaca;
          box-shadow: 0 10px 13px 1px #cacaca;
  border-radius: 40px 4px 40px 4px;
}

.skill_list {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 6rem 0 0 8rem;
}

.skill_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #343A40;
  font-family: Regular;
  font-size: unset;
  font-weight: unset;
  letter-spacing: 2px;
  text-align: unset;
  text-transform: lowercase;
  height: 70px;
  width: 100%;
}

.skill_list li .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.skill_list li .skill > span {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(Icons/icon_2_pink.svg) center center no-repeat;
}

.skill_list .bar_container {
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(33%, #fff), color-stop(33%, #ddd), color-stop(33.3%, #ddd), color-stop(33.3%, #fff), color-stop(66%, #fff), color-stop(66%, #ddd), color-stop(66.3%, #ddd), color-stop(66.3%, #fff));
  background-image: linear-gradient(to right, #fff, #fff 33%, #ddd 33%, #ddd 33.3%, #fff 33.3%, #fff 66%, #ddd 66%, #ddd 66.3%, #fff 66.3%);
}

.skill_list .bar_container .loading_bar {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 10px;
}

.skill_list .bar_container .loading_bar.loading::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: unset;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#ffd33d), color-stop(17%, #ea4aaa), color-stop(34%, #b34bff), color-stop(51%, #01feff), color-stop(68%, #ffd33d), color-stop(85%, #ea4aaa), to(#b34bff));
  background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
  background-size: 300% 100%;
  -webkit-animation: bar-animation 2s linear infinite, width-animation 1.5s linear;
          animation: bar-animation 2s linear infinite, width-animation 1.5s linear;
  border-radius: inherit;
}

.skill_list .bar_container .first.loading::after {
  width: 95%;
  max-width: 95%;
}

.skill_list .bar_container .second.loading::after {
  width: 85%;
  max-width: 85%;
}

.skill_list .bar_container .third.loading::after {
  width: 70%;
  max-width: 70%;
}

.skill_list .bar_container .fourth.loading::after {
  width: 30%;
  max-width: 30%;
}

.levels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #a8a8a8;
  font-family: Regular;
  font-size: 0.85rem;
  font-weight: unset;
  letter-spacing: unset;
  width: 60%;
  margin: 0.5rem 0 0 8rem;
}

.levels li {
  width: 20%;
  text-align: center;
  text-transform: unset;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* CONTACT */
.contact {
  width: 100%;
  background-color: #e6e6e6;
}

.contact .contactForm {
  width: 88%;
  margin: auto;
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 40px 4px 40px 4px;
}

.contact .contactForm p {
  color: white;
  font-family: Roboto-Medium;
  font-size: 1.8rem;
  font-weight: unset;
  letter-spacing: 2px;
  text-align: center;
  text-transform: unset;
  margin-bottom: 1rem;
  background-color: #f8c5c4;
  padding: 1.3rem;
}

.contact .contactForm p:nth-of-type(2) {
  color: white;
  font-family: Regular;
  font-size: 0.8rem;
  font-weight: unset;
  letter-spacing: unset;
}

.contact .contactForm form {
  position: relative;
  width: 65%;
  margin-top: 2rem;
  padding: 2rem;
  -webkit-box-shadow: 0 10px 13px 1px #cacaca;
          box-shadow: 0 10px 13px 1px #cacaca;
  border-radius: 10px;
  background-color: #faf9f9;
}

.contact .contactForm form::before {
  content: '';
  position: absolute;
  top: -30px;
  bottom: unset;
  right: unset;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 30px solid #faf9f9;
}

.contact .contactForm form label {
  color: #343A40;
  font-family: Regular;
  font-size: 0.75rem;
  font-weight: unset;
  letter-spacing: 1px;
  text-align: unset;
  text-transform: uppercase;
  display: inline-block;
  width: 30%;
}

.contact .contactForm form label:nth-of-type(4) {
  width: 100%;
  margin-bottom: 1rem;
}

.contact .contactForm form input {
  width: 50%;
  height: 40px;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-family: Roboto-Light;
}

.contact .contactForm form input:focus {
  background-color: #FAF1E6;
}

.contact .contactForm form textarea {
  width: 90%;
  min-height: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  resize: none;
  border-radius: 10px;
  border: 1px solid lightgray;
  font-family: Roboto-Light;
}

.contact .contactForm form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  font-family: Roboto-Light;
  font-size: 0.95rem;
  font-weight: unset;
  letter-spacing: 3px;
  text-align: unset;
  text-transform: uppercase;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  margin: 2rem 0;
  background-color: #f8c5c4;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 7px -1px #cacaca;
          box-shadow: 0 5px 7px -1px #cacaca;
}

.contact .contactForm form button:hover {
  background-color: #FF7171;
}

.contact .contactForm form button span {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 15px;
  background: url(Icons/send.svg) center center no-repeat;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* FOOTER */
footer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #a8a8a8;
  font-family: Regular;
  font-size: 0.8rem;
  font-weight: unset;
  letter-spacing: unset;
}

footer span {
  display: inline-block;
  width: 40px;
  height: 40px;
}

footer span a {
  display: block;
  width: inherit;
  height: inherit;
}

footer span:nth-child(1) {
  background: url(Icons/iconfinder_107108_github_gray_icon.svg) center center no-repeat;
}

footer span:nth-child(1):hover {
  cursor: pointer;
  background: url(Icons/github_icon_pink.svg) center center no-repeat;
}

footer span:nth-child(2) {
  background: url(Icons/iconfinder_107093_gray_linkedin_icon.svg) center center no-repeat;
}

footer span:nth-child(2):hover {
  cursor: pointer;
  background: url(Icons/linkedin_icon_pink.svg) center center no-repeat;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1100px) {
  header nav {
    width: 50%;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .about_text {
    margin: 4rem 0;
  }
  .skill_list, .levels {
    width: 65%;
  }
  .contact .contactForm form {
    width: 70%;
  }
}

@media only screen and (max-width: 950px) {
  .skills .skills_container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills .skills_container .skill_list, .skills .skills_container .levels {
    margin-left: 0;
    width: 70%;
  }
  .contact .contactForm form {
    width: 80%;
  }
}

@media only screen and (max-width: 870px) {
  header nav {
    width: 55%;
  }
  .skills_container .skill_list, .skills_container .levels {
    width: 75%;
  }
}

@media only screen and (max-width: 780px) {
  header nav {
    width: 60%;
  }
  .contact .contactForm form {
    width: 85%;
  }
}

@media only screen and (max-width: 700px) {
  header nav {
    width: 67%;
  }
  .projects .projects_container {
    width: 95%;
  }
  .skills .skills_container {
    width: 95%;
  }
  .skills .skills_container .skill_list, .skills .skills_container .levels {
    width: 80%;
  }
  .contact .contactForm {
    width: 95%;
  }
}

@media only screen and (max-width: 620px) {
  header nav {
    width: 10%;
  }
  header nav .hamburger-nav {
    display: block;
    width: 24px;
    height: 16px;
  }
  header nav .hamburger-nav a {
    display: block;
    width: inherit;
    height: inherit;
    background: url(Icons/icon-hamburger.svg) center center no-repeat;
  }
  header nav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  header nav div .close {
    display: block;
    width: 20px;
    height: 20px;
  }
  header nav div .close a {
    display: block;
    width: 20px;
    height: 20px;
    background: url(Icons/icon-close.svg) center center no-repeat;
  }
  header nav div:target {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f8c5c4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav div:target .close {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 2rem;
    width: 10%;
    margin-top: 30px;
  }
  header nav div:target ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
    width: 60%;
  }
  header nav div:target ul li {
    height: 50px;
  }
  header nav div:target ul li a {
    color: white;
  }
  .skills_container .skill_list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem;
  }
  .skills_container .skill_list li .skill {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 1rem;
  }
  .skills_container .skill_list li .bar_container {
    width: 70%;
  }
  .skills_container .levels {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .skills_container .levels li {
    font-size: 0.6rem;
  }
  .contact .contactForm form {
    width: 95%;
  }
  .contact .contactForm form input {
    width: 60%;
  }
}

@media only screen and (max-width: 570px) {
  .about .profile_photo {
    width: 420px;
    height: 420px;
    background: url(photo_resized_small.jpg) center center no-repeat;
    background-size: contain;
    background-color: #e4e4e4;
  }
  .about .profile_photo img {
    display: none;
  }
  .about .about_text {
    width: 80%;
  }
  .about .about_text p:nth-child(1) {
    font-size: 37px;
  }
}

@media only screen and (max-width: 450px) {
  header .social .github:hover {
    background: url(Icons/github_icon.svg) center center no-repeat;
  }
  header .social .linkedin:hover {
    background: url(Icons/linkedin_icon.svg) center center no-repeat;
  }
  .about .profile_photo {
    width: 375px;
    height: 375px;
  }
  .projects .projects_container [class^="project_"]::before, .projects .projects_container [class^="project_"]::after {
    display: none;
  }
  .projects .projects_container [class^="project_"]:hover {
    -webkit-transform: none;
            transform: none;
  }
  .skills_container .skill_list li .bar_container {
    width: 100%;
  }
  .skills_container .levels li {
    width: 30%;
  }
  .contact .contactForm form {
    padding: 1rem;
  }
  .contact .contactForm form input {
    width: 90%;
  }
  .contact .contactForm form label {
    margin-bottom: 1rem;
  }
  footer span:nth-child(1):hover {
    background: url(Icons/iconfinder_107108_github_gray_icon.svg) center center no-repeat;
  }
  footer span:nth-child(2):hover {
    background: url(Icons/iconfinder_107093_gray_linkedin_icon.svg) center center no-repeat;
  }
}
/*# sourceMappingURL=style.css.map */