@import "./reset";
@import "./fonts";
@import "./variables";

/* ANIMATIONS */

@keyframes width-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes bar-animation {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }
}

/* GENERAL */

html { height: 100%;}
body {
    min-height: 100%;
    font-size: 16px;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    position: relative;
}

/* HEADER */

header {
    width: 100%;
    height: 80px;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 111;
    @include flex-pos(space-between, center);
    .social {
        margin-left: 2rem;
        span { 
            @include element_style(inline-block, 40px, 40px);
            a { @include element_style(block, inherit, inherit);}
        }
        .github { 
            background: url(Icons/github_icon.svg) center center no-repeat;
            &:hover {
                cursor: pointer;
                background: url(Icons/github_icon_pink.svg) center center no-repeat;
            }
        }
        .linkedin { 
            background: url(Icons/linkedin_icon.svg) center center no-repeat;
            &:hover {
                cursor: pointer;
                background: url(Icons/linkedin_icon_pink.svg) center center no-repeat;
            }
        }
    }
    .hamburger-nav, .close { display: none;}
    nav {
        width: 45%;
        margin-right: 2rem;
        ul {
            width: 100%;
            height: 35px;
            @include flex-pos(space-around, flex-start);
            li { @include element_style(inline-block, fit-content, inherit);}
            a { 
                @include flex-pos(flex-start, center);
                @include font_style($text_color1, Regular, initial, unset);
                height: inherit;
                cursor: pointer;
                position: relative;
                &::after {
                    @include pseudo_style(unset, 0, 0, unset);
                    height: 1px;
                    width: 0;
                    background-color: $hover_color;
                    transition: width .7s;
                }
                &:hover {
                    &::after { width: 75%;}
                }
            }
            span {
                @include element_style(inline-block, 20px, 12px);
                margin-right: 0.4rem;
                background: url(Icons/icon_2_pink.svg) center center no-repeat;
            }
        }
    } 
}

/* ABOUT */

.about {
    width: 100%;
    min-height: 100vh;
    background-color: $bgd_pink;
    position: relative;
    @include flex-pos(flex-end, center);
    flex-wrap: wrap;
    .profile_photo {
        width: 490px;
        height: 490px;
        background-color: #e4e4e4;
        border-radius: 50%;
        overflow: hidden;
        margin: 5rem 0 0 0;
        img {
            @include element_style(block, inherit, auto);
            max-width: 400px;
            margin: auto;
            object-fit: contain;
        }
    }
    .about_text {
       width: 460px;
       margin: 4rem;
        p:nth-child(1) { @include font_style(white, Bold, 2.9rem, unset);}
        p:nth-child(2) {
            @include font_style($hover_color, Regular, 1.1rem, 2px);
            line-height: 1.5rem;
            margin-top: 1rem;
        }
    }
}

/* PROJECTS */

.projects {
    width: 100%;
    position: relative;
    padding: 4rem 0 2rem 0;
    background-color: $bgd_grey;
    .projects_container {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 2.2rem 2rem;
        justify-items: center;
    }
    .description {
        width: 320px;
    }
    [class^="project_"] {
        height: fit-content;
        @include flex-pos(flx-start, center, column);
        background-color: white;
        position: relative;
        transition: .2s;
        border-radius: 40px 5px 40px 5px;
        box-shadow: 0 10px 13px 1px rgb(202, 202, 202),
                    8px 0 13px -1px rgb(202, 202, 202);
        img {
            @include element_style(block, inherit, auto);
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            max-width: 100%;
            margin: 0 auto;
        }
        p {
            display: inline-block;
            @include font_style(unset, Rubik-Medium, 0.9rem, unset);
            @include text_style(center);
            margin: 1.4rem 0 1rem 1rem;
        }
        p:nth-of-type(1) { 
            color: rgb(250, 104, 51);
            margin-left: 1.5rem;
        }
        p:nth-of-type(2) { color: rgb(221, 118, 218);}
        p:nth-of-type(3) { color: rgb(95, 95, 230);}
        p:nth-of-type(4) { color: rgb(84, 238, 84);}
        h4 {
            width: 75%;
            @include font_style(rgb(161, 150, 150), Roboto-Light, 0.95rem, 2px, lighter);
            @include text_style(unset, uppercase);
            margin-left: 1.5rem;
            padding: 1.5rem 0;
            border-top: 1px solid rgb(219, 217, 217);
        }
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            &::before {
                @include pseudo_style(0, 0, 0, 0);
                opacity: 0.6;
                background-color: white;
                border-radius: inherit;
            }
            &::after {
                @include pseudo_style(50%, unset, unset, 50%);
                @include font_style(white, Roboto-Thin, unset, 3px);
                @include text_style(center);
                content: 'VIEW';
                line-height: 100px;
                transform: translate(-50%, -50%);
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: #ff7c7a;
            }
        }
    }
    .project_1 {
        h4 { width: 80%;}
    }
}


/* SKILLS */

.skills {
    width: 100%;
    padding: 2rem 0;
    background-color: $bgd_grey;
    .skills_container {
        width: 90%;
        padding-bottom: 5rem;
        background-color: white;
        margin: auto;
        @include flex-pos(unset, unset, column);
        box-shadow: 0 10px 13px 1px rgb(202, 202, 202);
        border-radius: 40px 4px 40px 4px;
    }
}

.skill_list {
    width: 60%;
    height: fit-content;
    @include flex-pos(unset, unset, column);
    margin: 6rem 0 0 8rem;
    li {
        @include flex-pos(space-between, center);
        @include font_style($text_color1, Regular, unset, 2px);
        @include text_style(unset, lowercase);
        height: 70px;
        width: 100%;
        .skill { 
            @include flex-pos(unset, center);
        & > span {
            @include element_style(inline-block, 40px, 40px);
            background: url(Icons/icon_2_pink.svg) center center no-repeat;
        }
        }
    }
    .bar_container {
        height: 100%;
        width: 60%;
        @include flex-pos(unset, center);
        background-image: linear-gradient(to right, #fff, #fff 33%, #ddd 33%, #ddd 33.3%,
        #fff 33.3%, #fff 66%, #ddd 66%, #ddd 66.3%, #fff 66.3%);
        .loading_bar {
            position: relative;
            @include element_style(inline-block, 100%, 10px);
            background-color: #ddd;
            border-radius: 10px;
        }
        .loading_bar.loading {
            &::after {
                @include pseudo_style(0, unset, 0, 0);
                background: linear-gradient(90deg,#ffd33d,#ea4aaa 17%,#b34bff 34%,#01feff 51%,#ffd33d 68%,#ea4aaa 85%,#b34bff);
                background-size: 300% 100%;
                animation: bar-animation 2s linear infinite, width-animation 1.5s linear;
                border-radius: inherit;
            }
        }
        .first.loading {
            &::after {
                width: 95%;
                max-width: 95%;
            }
        }
        .second.loading {
            &::after {
                width: 85%;
                max-width: 85%;
            }
        }
        .third.loading {
            &::after {
                width: 70%;
                max-width: 70%;
            }
        }
        .fourth.loading {
            &::after {  
                width: 40%;
                max-width: 40%;
            }
        }
    }
}

.levels {
    @include flex-pos(flex-end, unset);
    @include font_style(rgb(168, 168, 168), Regular, 0.85rem, unset);
    width: 60%;
    margin: 0.5rem 0 0 8rem;
    li {
        width: 20%;
        @include text_style(center);
        transform: rotate(-45deg);
    }
}

/* CONTACT */ 

.contact {
    width: 100%;
    background-color: $bgd_grey;
    .contactForm {
        width: 88%;
        margin: auto;
        padding: 5rem 0;
        @include flex-pos(unset, center, column);
        border-radius: 40px 4px 40px 4px;
        p {
            @include font_style(white, Roboto-Medium, 1.8rem, 2px);
            @include text_style(center);
            margin-bottom: 1rem;
            background-color: $bgd_pink;
            padding: 1.3rem;
        }
        p:nth-of-type(2) { @include font_style(white,Regular, 0.8rem, unset);}
        form {
            position: relative;
            width: 65%;
            margin-top: 2rem;
            padding: 2rem;
            box-shadow: 0 10px 13px 1px rgb(202, 202, 202);
            border-radius: 10px;
            background-color: #faf9f9;
            &::before {
                @include pseudo_style(-30px, unset, unset, 50%);
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-left: 40px solid transparent;
                border-right: 40px solid transparent;
                border-bottom: 30px solid #faf9f9;
            }
            label {
                @include font_style($text_color1, Regular, 0.75rem, 1px);
                @include text_style(unset, uppercase);
                display: inline-block;
                width: 30%;
            }
            label:nth-of-type(4) { 
                width: 100%;
                margin-bottom: 1rem;
            }
            input {
                width: 50%;
                height: 40px;
                margin-bottom: 1rem;
                padding: 1rem;
                border: 1px solid lightgray;
                border-radius: 10px;
                font-family: Roboto-Light;
                &:focus { background-color: #FAF1E6;}
            }
            textarea {
                width: 90%;
                min-height: 150px;
                height: fit-content;
                padding: 1rem;
                resize: none;
                border-radius: 10px;
                border: 1px solid lightgray;
                font-family: Roboto-Light;
            }
            button {
                @include flex-pos(center, center);
                @include font_style(white, Roboto-Light, 0.95rem, 3px);
                @include text_style(unset, uppercase);
                width: 180px;
                height: 50px;
                border-radius: 10px;
                margin: 2rem 0;
                background-color: $bgd_pink;
                cursor: pointer;
                box-shadow: 0 5px 7px -1px rgb(202, 202, 202);
                &:hover { background-color: $hover_color;}
                span {
                    @include element_style(inline-block, 24px, 24px);
                    margin-left: 15px;
                    background: url(Icons/send.svg) center center no-repeat;
                    transform: rotate(45deg);
                }
            }
        }
    }
}

/* FOOTER */ 

footer {
    height: 100px;
    @include flex-pos(center, center, column);
    @include font_style(rgb(168, 168, 168), Regular, 0.8rem, unset);
    span { 
        @include element_style(inline-block, 40px, 40px);
        a { @include element_style(block, inherit, inherit);}
    }
    span:nth-child(1) { 
        background: url(Icons/iconfinder_107108_github_gray_icon.svg) center center no-repeat;
        &:hover {
            cursor: pointer;
            background: url(Icons/github_icon_pink.svg) center center no-repeat;
        }
    }
    span:nth-child(2) { 
        background: url(Icons/iconfinder_107093_gray_linkedin_icon.svg) center center no-repeat;
        &:hover {
            cursor: pointer;
            background: url(Icons/linkedin_icon_pink.svg) center center no-repeat;
        }
    }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1100px) {
    header {
        nav { width: 50%;}
    }

    .about {
        flex-direction: column;
        justify-content: center;
        .about_text { margin: 4rem 0;}
    }

    .skill_list, .levels { width: 65%;}
    .contact { 
        .contactForm {
            form { width: 70%;}
        }
    }
}
@media only screen and (max-width: 950px) {
    .skills { 
        .skills_container {
            align-items: center;
            .skill_list, .levels {
                margin-left: 0;
                width: 70%;
            }
        }
    }
    .contact { 
        .contactForm {
            form { width: 80%;}
        }
    }
}
@media only screen and (max-width: 870px) {
    header {
        nav { width: 55%;}
    }
    .skills_container { 
        .skill_list, .levels { width: 75%;}
    }
}
@media only screen and (max-width: 780px) {
    header {
        nav { width: 60%;}
    }
    .contact { 
        .contactForm {
            form { width: 85%;}
        }
    }
}
@media only screen and (max-width: 700px) {
    header {
        nav { width: 67%;}
    }
    .projects {
        .projects_container { width: 95%;}
    }
    .skills {
        .skills_container { 
            width: 95%;
            .skill_list, .levels { width: 80%;} 
        }
    }
    .contact {
        .contactForm { width: 95%;}
    }
}
@media only screen and (max-width: 620px) {
    header {
        nav {
            width: 10%;
            .hamburger-nav {
                @include element_style(block, 24px, 16px);
                a {
                    @include element_style(block, inherit, inherit);
                    background: url(Icons/icon-hamburger.svg) center center no-repeat;
                }
            }
            div { 
                .close {
                    @include element_style(block, 20px, 20px);
                    a { 
                        @include element_style(block, 20px, 20px);
                        background: url(Icons/icon-close.svg) center center no-repeat;
                    }
                }
                @include element_style(flex, 100%, 100vh);
                position: absolute;
                top: 0;
                left: 0;
                display: none;
            }
            div:target { 
                display: flex;
                background-color: #f8c5c4;
                flex-direction: column;
                .close {
                    align-self: flex-end;
                    margin-right: 2rem;
                    width: 10%;
                    margin-top: 30px;
                }
                ul {
                    flex-direction: column;
                    margin-top: 100px;
                    margin-left: 50px;
                    width: 60%;
                    li {
                        height: 50px;
                        a { color: white;}
                    }
                }
            }
        }
    }
    .skills_container {
        .skill_list {
            li {
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;
                .skill { 
                    align-self: flex-start;
                    margin-bottom: 1rem;
                }
                .bar_container { width: 70%;}
            }
        }
        .levels {
            justify-content: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
            li { font-size: 0.6rem;}
        }
    }
    .contact {
        .contactForm { 
            form { 
                width: 95%;
                input { width: 60%;}
            }
        }
    }
}
@media only screen and (max-width: 570px) {
    .about {
        .profile_photo { 
            width: 420px;
            height: 420px;
            img { display: none;}
            background: url(photo_resized_small.jpg) center center no-repeat;
            background-size: contain;
            background-color: #e4e4e4;;
            
        }
        .about_text { 
            width: 80%;
            p:nth-child(1) { font-size: 37px;}
        }
    }
}
@media only screen and (max-width: 450px) {
    header {
        .social {
            .github { 
                &:hover { background: url(Icons/github_icon.svg) center center no-repeat;}
            }
            .linkedin { 
                &:hover { background: url(Icons/linkedin_icon.svg) center center no-repeat;}
            }
        }
    }
    .about {
        .profile_photo {
            width: 375px;
            height: 375px;
        }
    }
    .projects {
        .projects_container {
            [class^="project_"] {
                &::before, &::after { display: none;}
                &:hover { transform: none;}
            }
        }
    }
    .skills_container {
        .skill_list {
            li { 
                .bar_container { width: 100%;}
            }
        }
        .levels {
            li { width: 30%;}
        }
    }
    .contact {
        .contactForm {
            form {
                padding: 1rem;
                input { width: 90%;}
                label { margin-bottom: 1rem;}
            }
        }
    }
    footer {
        span:nth-child(1) {
            &:hover { background: url(Icons/iconfinder_107108_github_gray_icon.svg) center center no-repeat;}
        }
        span:nth-child(2) {
            &:hover { background: url(Icons/iconfinder_107093_gray_linkedin_icon.svg) center center no-repeat;}
        }
    }
}